:root {
	--color-accent: rgb(237, 136, 47);
}

* {
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
}

a {
	text-decoration: none;
}

/* ---- */

main {
	height: 100%;
	width: 100%;
	max-width: 1000px;
}

/* --- */

h1 {
	text-align: center;
}

input {
	--padding: 20px;
	--border-width: 2px;

	width: calc(100% - (var(--padding) * 2) - (var(--border-width) * 2));
    padding: var(--padding);
    background: none;
	border: solid var(--border-width) white;
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;
	font-size: 20px;
	outline: none;
	color: white;
	text-transform: uppercase;
}

input::placeholder {
	color: white;
	text-transform: initial;
}

input:focus {
	border-color: var(--color-accent);
}

/* ---- */

.button {
	--padding-v: 20px;
	--padding-h: 15px;
	background: #5b95c7;
	font-weight: bold;
	text-transform: uppercase;
	padding: var(--padding-h) var(--padding-v) var(--padding-h) var(--padding-v);
	font-size: 20px;
	color: white;
	border-radius: 9px;
}

/* ---- */

#results {
	margin-top: 50px;
	height: calc(100% - 250px);
	overflow-x: hidden;
	overflow-y: scroll;
}

#results::-webkit-scrollbar {
	width: 10px;
}

#results::-webkit-scrollbar-track {
	background: black;
}

#results::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 100px;
}

#results .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	margin-right: 20px;
}

#results .item + .item {
	border-top: solid 2px rgba(255,255,255,.2);
	padding-top: 20px;
}